.ant-carousel{
    .slick-slide {
      text-align: center;
      height: 4.5rem;
      line-height: 160px;
      background: #364d79;
      overflow: hidden;
      img{
        height:100%;
        width:100%;
      }

    }
    .slick-dots{
        top:90%!important;
        li{
            margin-left:0.1rem;    
            button{
                height:0.22rem;
                width:0.22rem;
                background-color:#999;
            }
        }
        .slick-active{
            button{
                height:0.22rem!important;
                width:0.22rem!important;
                background-color:#4A2B1A!important; 
            }
        }
    }
}
 