.footer{
    border-top:2px solid #B6B6B6;
    height:8%;
    display:flex;
    ul{
        flex:1;
        display:flex;
        flex-direction:row;
        li{
            flex:1;
            float:left;
            text-align: center;
            a{  
                color:#B6B6B6;
                display: block;
                font-size: 0.6rem;
                font-weight: 500;
                text-decoration:none;
                span{
                    color:#B0B0B0;
                    display: block;
                    font-size: 0.32rem;
                }
            }
        }
        li:nth-child(2n){
            a{
                
            }
        }
        .iconActive{
            a{
                color:#4A2B1A;   
                span{
                color:#4A2B1A;   
                }
            }
            
        }
    }
}