// 数据加载失败
#NotData {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    p {
        text-align: center;
    }
}
#ZZao {
    z-index:999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    display: flex;
    background: #333;
    align-items: center;
    display: none;
    .f_message{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
        width: 100%;
        font-size: 60px;

    }
    .tv_btn{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
        width: 100%;
        font-size: 60px;
        display: none;
        button{
            background-color:#000;
            margin-top: 4rem;
            border:none;
            font-size: 0.6rem;
            width: 2rem;
            height: 1rem;
        }
        button:nth-child(2){
            margin-right:1rem;
        }
    }

}
.t_cart{
    font-size: 0.4rem;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    .t_header{
        height:6%;
        display:flex;
        flex-direction:row;
        i{
            display: block;
            width:10%;
            font-size:0.6rem!important;
            color:#4A2B1A;
            text-align: center;
            line-height: 1rem;
        }
        h2{
            flex:1;
            line-height:100%;
            text-align: center;
            span{
                font-size:0.5rem;
                display: block;
                padding-top:2.333333%;
                text-indent:-1rem;
            }
        }
    }
    .t_content{
        flex:1;
        background-color:#F0F0F0;
        display:flex;
        flex-direction:column;
        overflow-y:auto;
        .t_message{
            height:10%;
            background-color:#fff;
            margin:0.3rem 0;
            position:relative;
            p{
                font-size:0.33rem;
                width:80%;
                margin-left:1.5rem;
                text-align: left;
                margin-top:0.3rem;
                color:#684029;
            }
            img{
                position:absolute;
                top:0;
                left:0.6rem;
            }
        }
        .empty{
            // display: none;
            height:30%;
            img{
                margin-left:3.5rem;
                width: 3rem;
            }
            p{
                text-align: center;
            }
        }
        .t_goodslist{
            height:7rem;
            background-color:#fff;
            margin-bottom:0.4rem;
            .t_gh{
                height:60%;
                display:flex;
                ul{
                    flex:1;
                    position:relative;
                    li{
                        float:left;
                        img{
                        	width: 4rem;
                        }
                    }
                    li:nth-child(2){
                        dl{
                        margin-top:1rem;
                            dt{
                                font-weight: bold;
                                color:#000;
                            }
                            dd:nth-child(2){
                                color:#000;
                            }
                            dd:last-child{
                                font-weight: bold;
                            }
                        }
                    }
                    li:last-child{
                        position:absolute;
                        right: 0.3rem;
                        top: 0;
                        width:20%;
                        height:100%;
                        text-align: center;
                        margin-top:27.333%;
                        button{
                            height:0.6rem;
                            width:0.6rem;
                            float:left;
                            background-color:#ccc;
                            border:none !important;
                        }
                        .tt_add{
                            color:#000;
                            font-weight:bold;
                            font-size:0.66rem;
                            line-height:0.4rem;
                            text-align: center;
                        }
                        .tt_delete{
                            i{
                                
                            }
                            span{
                                border:none !important;
                                display:none;
                                font-size:1rem;
                                font-weight: 500;
                                line-height: 0.3rem;
                                color:#000;
                            }
                        }
                        span{
                            border:none !important;   
                            display:block;
                            height:0.6rem;
                            width:0.6rem;
                            float:left;
                        }
                    }
                }
            }
            .t_choice{
                flex:1;
                display:flex;
                flex-direction:column;
                .tableware{
                    height:66%;
                    img{
                        margin-top:0.3rem;
                        margin-left:2rem;
                        width:1rem;
                        height:1rem;
                        float:left;
                    }
                    span{
                        margin-left: 0.88rem;
                        margin-top: 0.4rem;
                        float:left;
                    }
                }
                .festival{
                    flex:1;
                    display:flex;
                    margin-top:0.3rem;
                    ul{
                        flex:1;
                        display:flex;
                        flex-direction:row;
                        li{
                            flex:1;
                            float:left;
                        }
                        li:last-child{
                            a{
                                float:right;
                                font-size:0.6rem;
                                color:#999;
                                line-height:0.6rem;
                                text-align: center;
                                padding-right: 0.6rem;
                            }
                            
                        }
                        li:nth-child(2){
                            text-indent:0.5rem;
                        }
                        li:first-child{
                            text-align: right;
                            div{
                                background-color:#ccc;
                                width:45%;
                                height:100%;
                                text-align: center;
                                float:right;
                                span{
                                    margin-top: 0.166rem;
                                    margin-left:0.3rem;
                                    width:60%;
                                    display: block;
                                    font-size:0.233rem;
                                    background-color:#000;
                                    color:#fff; 
                                    text-align: center;
                                    letter-spacing:0.03rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .t_recommend{
            height:40%;
            .t_linehead{
                height:20%;
                h3{
                    padding-top: 0.2rem;
                    text-align: center;
                }
            }
            .re_box{
                width:100%;
                overflow:hidden;
                ul:first-child{
                    width:49%;
                    overflow:hidden;
                    float:left;
                    li{
                        background-color:#fff;
                        margin-bottom:4%;
                        height:5rem;
                        text-align: center;
                        img{
                            width:56%;
                        }
                        .goodsname{
                            margin-top:0.4rem;
                            text-align: left;
                            span{
                                margin-left: 0.4rem;
                            }
                        }
                        .t_price{
                            text-align: left;
                            position:relative;
                            span{
                                margin-left: 0.33rem;
                            }
                            a{
                                position:absolute;
                                display: block;
                                right:0;
                                top:-0.3rem;
                                font-size:0.8rem;
                                margin-right:0.3rem;
                                color:#333;
                            }
                        }
                    }
                }
                ul:last-child{
                    float:right;
                    width:49%;
                    overflow:hidden;
                    li{
                        background-color:#fff;
                        margin-bottom:4%;
                        height:5rem;
                        text-align: center;
                        img{
                            width:56%;
                        }
                        .goodsname{
                            margin-top:0.4rem;
                            text-align: left;
                            span{
                                margin-left: 0.4rem;
                            }
                        }
                        .t_price{
                            text-align: left;
                            position:relative;
                            span{
                                margin-left: 0.33rem;
                                font-weight: 500;
                            }
                            a{
                                position:absolute;
                                display: block;
                                right:0;
                                top:-0.3rem;
                                font-size:0.8rem;
                                margin-right:0.3rem;
                                color:#333;
                            }
                        }
                    }
                }
            }
        }
    }
    .t_footer{
        height:8%;
        display:flex;
        flex-direction:row;
        .t_tot{
            width:76%;
            display:flex;
            flex-direction:column;
            span{
                display:block;
                text-align:right;
                padding-right:0.3rem;
            }
            .t_total{
                color:#000;
                font-weight:bold;
            }
        }
        .t_btn{
            flex:1;
            text-align: center;
            line-height: 300%;
            background-color:#000;
            color:#fff;
        }
    }
}