.logo{
	height:64px;
	text-align: center;
	line-height: 54px;
	color:#00CA79;
	font-size:18px;
	border-bottom:1px solid #00CA79;
	overflow:hidden;
	// background:#19B5FE;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #00CA79;
}
.ant-layout-header{
	border-bottom:1px solid #00CA79;
}
a{
	color:#fff;
}
.home{
	padding:12px 110px 12px 0;
}
.menushow{
	display:block;
}
.menuhidden{
	display:none;
}